In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from acquire import get_connection, new_zillow_data, get_zillow_data

In [2]:
df = get_zillow_data(cached=True)

In [3]:
longindex = df.loc[df['longitude'].isin(['NaN'])].index

In [4]:
 df.drop(longindex , inplace=True)

<h5>Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.</h5>

In [5]:

def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        null_count = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, null_count, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'null_count', 2 : '% of Total Values'})
        mz_table['Total Zeroes + Null Values'] = mz_table['Zero Values'] + mz_table['null_count']
        mz_table['% Total Zero + Null Values'] = 100 * mz_table['Total Zeroes + Null Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] >= 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " +  str((mz_table['null_count'] != 0).sum()) +
          " columns that have NULL values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

missing_zero_values_table(df)

Your selected dataframe has 67 columns and 77380 Rows.
There are 52 columns that have NULL values.

,Zero Values,null_count,% of Total Values,Total Zeroes + Null Values,% Total Zero + Null Values,Data Type
buildingclasstypeid,0,77365,100.0,77365,100.0,float64
buildingclassdesc,0,77365,100.0,77365,100.0,object
finishedsquarefeet13,0,77339,99.9,77339,99.9,float64
storydesc,0,77330,99.9,77330,99.9,object
basementsqft,0,77330,99.9,77330,99.9,float64
storytypeid,0,77330,99.9,77330,99.9,float64
yardbuildingsqft26,0,77310,99.9,77310,99.9,float64
fireplaceflag,0,77208,99.8,77208,99.8,float64
architecturalstyletypeid,0,77174,99.7,77174,99.7,float64
architecturalstyledesc,0,77174,99.7,77174,99.7,object
typeconstructiontypeid,0,77158,99.7,77158,99.7,float64
typeconstructiondesc,0,77158,99.7,77158,99.7,object
finishedsquarefeet6,0,76994,99.5,76994,99.5,float64
pooltypeid10,0,76916,99.4,76916,99.4,float64
decktypeid,0,76766,99.2,76766,99.2,float64
poolsizesum,0,76513,98.9,76513,98.9,float64
pooltypeid2,0,76306,98.6,76306,98.6,float64
hashottuborspa,0,75842,98.0,75842,98.0,float64
yardbuildingsqft17,0,74992,96.9,74992,96.9,float64
taxdelinquencyyear,0,74494,96.3,74494,96.3,float64
taxdelinquencyflag,0,74494,96.3,74494,96.3,object
finishedsquarefeet15,0,74371,96.1,74371,96.1,float64
finishedfloor1squarefeet,0,71357,92.2,71357,92.2,float64
finishedsquarefeet50,0,71357,92.2,71357,92.2,float64
fireplacecnt,0,69104,89.3,69104,89.3,float64
threequarterbathnbr,0,67284,87.0,67284,87.0,float64
pooltypeid7,0,62338,80.6,62338,80.6,float64
poolcnt,0,61243,79.1,61243,79.1,float64
numberofstories,0,59820,77.3,59820,77.3,float64
airconditioningdesc,0,52427,67.8,52427,67.8,object
airconditioningtypeid,0,52427,67.8,52427,67.8,float64
garagetotalsqft,7685,51906,67.1,59591,77.0,float64
garagecarcnt,230,51906,67.1,52136,67.4,float64
regionidneighborhood,0,46490,60.1,46490,60.1,float64
heatingorsystemtypeid,0,27941,36.1,27941,36.1,float64
heatingorsystemdesc,0,27941,36.1,27941,36.1,object
buildingqualitytypeid,0,27709,35.8,27709,35.8,float64
propertyzoningdesc,0,27050,35.0,27050,35.0,object
unitcnt,0,26818,34.7,26818,34.7,float64
lotsizesquarefeet,0,8239,10.6,8239,10.6,float64
finishedsquarefeet12,0,3632,4.7,3632,4.7,float64
regionidcity,0,1471,1.9,1471,1.9,float64
calculatedbathnbr,0,609,0.8,609,0.8,float64
fullbathcnt,0,609,0.8,609,0.8,float64
yearbuilt,0,263,0.3,263,0.3,float64
censustractandblock,0,244,0.3,244,0.3,float64
calculatedfinishedsquarefeet,0,196,0.3,196,0.3,float64
structuretaxvaluedollarcnt,0,112,0.1,112,0.1,float64
regionidzip,0,50,0.1,50,0.1,float64
taxamount,0,5,0.0,5,0.0,float64
landtaxvaluedollarcnt,0,2,0.0,2,0.0,float64
taxvaluedollarcnt,0,1,0.0,1,0.0,float64
logerror,0,0,0.0,0,0.0,float64
regionidcounty,0,0,0.0,0,0.0,float64
fips,0,0,0.0,0,0.0,float64
rawcensustractandblock,0,0,0.0,0,0.0,float64
parcelid,0,0,0.0,0,0.0,int64
latitude,0,0,0.0,0,0.0,float64
transactiondate,0,0,0.0,0,0.0,object
propertycountylandusecode,0,0,0.0,0,0.0,object
id,0,0,0.0,0,0.0,int64
longitude,0,0,0.0,0,0.0,float64
bedroomcnt,830,0,0.0,830,1.1,float64
roomcnt,59807,0,0.0,59807,77.3,float64
assessmentyear,0,0,0.0,0,0.0,float64
bathroomcnt,592,0,0.0,592,0.8,float64
propertylandusetypeid,0,0,0.0,0,0.0,float64

<h4>Takeaways</h4>

Will need to look at individual columns to determine how to handle missing values.

In [6]:
df2 = df.isnull().sum(axis =1).value_counts().sort_index(ascending=False)

In [7]:
type(df2)

pandas.core.series.Series

In [8]:
df2 = pd.DataFrame(df2)

In [9]:
df2.reset_index(level=0, inplace=True)

In [10]:
df2.columns

Index(['index', 0], dtype='object')

In [11]:
df2.columns= ['total_features_missing', 'total_rows_affected']

In [12]:
df2.head()

   total_features_missing  total_rows_affected
0                      48                    3
1                      47                    3
2                      46                    5
3                      45                   50
4                      44                   78

In [13]:
df2['pct_features_missing']= round((df2.total_features_missing /df.shape[1]) * 100, 2)

In [14]:
df2 = df2[['total_features_missing', 'pct_features_missing', 'total_rows_affected']]

In [16]:
df2.head(26)

    total_features_missing  pct_features_missing  total_rows_affected
0                       48                 71.64                    3
1                       47                 70.15                    3
2                       46                 68.66                    5
3                       45                 67.16                   50
4                       44                 65.67                   78
5                       43                 64.18                   28
6                       42                 62.69                   23
7                       41                 61.19                   29
8                       40                 59.70                  230
9                       39                 58.21                  285
10                      38                 56.72                 1925
11                      37                 55.22                 3620
12                      36                 53.73                 5775
13                      35                 52.24                 5148
14                      34                 50.75                13326
15                      33                 49.25                14782
16                      32                 47.76                12579
17                      31                 46.27                 9891
18                      30                 44.78                 3455
19                      29                 43.28                 5270
20                      28                 41.79                  455
21                      27                 40.30                  316
22                      26                 38.81                   65
23                      25                 37.31                   24
24                      24                 35.82                   13
25                      23                 34.33                    2